gensim==4.3.2
gutenbergpy==0.3.5
matplotlib==3.9
missingno==0.4.2
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
Plost==0.2.5
plotly==5.22.0
pyLDavis==3.4.1
seaborn==0.11.2
streamlit==1.33.0
openpyxl==3.1.2
